@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-x: hidden;
    width: 100vw;
}


.title{
    font-weight: 800;
    font-size: clamp(2rem, 7vw, 8rem) !important;
}
.sub-title{
    font-weight: 800;
    font-size: clamp(1.5rem, 6vw, 4rem) !important;
}

